<!DOCTYPE html>
<html >
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Рекомендательная система MORE.Tech 4.0</title>

<script>
  // минута
  setTimeout(function(){
    location.reload();
  }, 20000);
</script>
        <style>
@font-face{
font-family: 'Bahnschrift';
src: url('/fonts/Bahnschrift.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

body {
   font-family: "Bahnschrift", "Calibry", sans-serif;
}
a:link {color: navy;} 
a:hover {color: red;} 
a:visited {color: navy;}
a:visited:hover {color: red;} 

html {
  max-width: 100ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  /*font-size: 1.25em;*/
}
</style>
      </head>
<body>
{{menu|safe }}
<p>
{{header|safe }}
<p>
{{content|safe }}


</body>
</html>