<!DOCTYPE html>
<html >
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Рекомендательная система MORE.Tech 4.0</title>


        <style>
@font-face{
font-family: 'Bahnschrift';
src: url('/fonts/Bahnschrift.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

body {
   font-family: "Bahnschrift", "Calibry", sans-serif;
}
a:link {color: navy;} 
a:hover {color: red;} 
a:visited {color: navy;}
a:visited:hover {color: red;} 

html {
  max-width: 120ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  /*font-size: 1.25em;*/
}
</style>
      </head>
<body>
{{menu|safe }}
<p>
{{header|safe }}
<p>

<table border="0" cellspacing=5><tr align="left" valign="top">
  <td width="30%">{{users|safe }}</td>
  <td width="70%">{{news|safe }}
<br><center>{{pages|safe }}</center>
    
  </td>
</tr></table>

</body>
</html>